.navigationbar {
    background-color: #fe8a00;
}
.accordion > .card h2 .btn-link {
    color: #fe8a00;
}
input[type="checkbox"] {
    accent-color: #fe8a00;
}
.form-control:focus {
    border-color: #fe8a00;
}
.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #fe8a00;
}
.page-item.active .page-link {
    color: #ffffff;
    background-color: #fe8a00;
    border-color: #fe8a00;
}
.btn-submit {
    color: #ffffff;
    background-color: #fe8a00;
    border-color: #fe8a00;
    box-shadow: none;
}
.btn-submit:focus, .btn-submit:hover {
    color: #ffffff;
    background-color: rgba(254, 138, 0, 0.61);
    border-color: rgba(254, 138, 0, 0.61);
}
.horizontal-nav .horizontal-menu .dropdown-menu li.active > a, .horizontal-nav .horizontal-menu .dropdown-menu li > a:hover, .horizontal-nav .horizontal-menu .dropdown-menu li > a:focus {
    color: #fe8a00;
}
.swal2-modal .swal2-confirm {
    background-color: #fe8a00 !important;
    border: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fe8a00;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    background-color: #fe8a00;
    border-color: #fe8a00;
}
.reset-btn, reset-btn:hover {
    color: #fe8a00 !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fe8a00 !important;
    color: #ffffff;
}
#forgot-psw, .auth-box-right a, .auth-box-right h4 {
    color: #fe8a00 !important;
}

.infobar a:focus, .infobar a:hover, .infobar .live-icon {
    color: #fe8a00;
}

.userbox .profile-icon:hover {
    background-color: transparent;
    color: #fe8a00;
}
.userbox .profile-icon:hover img {
    width: 20px;
    filter: invert(0.6) sepia(1) saturate(14) hue-rotate(0deg);
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after,
.br-theme-fontawesome-stars .br-widget a.br-active:after{
    color: #fe8a00;
}
.topbar-mobile .mobile-togglebar a.topbar-toggle-hamburger:hover {
    background-color: #fe8a00 !important;
}
.topbar-mobile .mobile-togglebar .menu-hamburger:hover {
    background-color: #fe8a00 !important;
}
.page-item {
    .page-link {
        color: #fe8a00;
    }
}
.datepicker--cell.-range-from- {
    border: 1px solid #fe8a00 !important;
    background-color: #fe8a00 !important;
    border-radius: 50px 0 0 50px;
}

.datepicker--cell.-range-to- {
    border: 1px solid #fe8a00 !important;
    background-color: #fe8a00 !important;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
}

.datepicker--day-name {
    color: #fe8a00 !important;
}

.datepicker--cell.-selected- {
    color: #ffffff;
    background: orange !important;
}

input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fe8a00;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
